# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# =========================
# Flask
# =========================
instance/
.webassets-cache

# =========================
# Environment / secrets
# =========================
.env
.env.*

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# =========================
# Logs / runtime
# =========================
*.log
*.sqlite3

