body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f7fb;
    color: #111;
}

.wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 28px;
    padding-bottom: 10px;
}

.chart {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px;
    padding-top: 0px;
    box-sizing: border-box;
    height: 75vh;
    min-height: 400px;
}

.header h1 {
    margin: 0 0 6px 0;
    font-size: 24px;
}

.sub {
    margin: 0 0 18px 0;
    color: #555;
}

.actions {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.reload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 14px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-cash-in {
    border-color: rgba(75, 192, 192, 1);
    color: rgba(75, 192, 192, 1);
}

.btn-cash-out {
    border-color: rgba(255, 99, 132, 1);
    color: rgba(255, 99, 132, 1);
}

.btn-net-flow {
    border-color: #333;
    color: #333;
}

.toggle-btn.hidden {
    background: #eee;
    color: #aaa !important;
    border-color: #ddd !important;
    opacity: 0.7;
}

button:active {
    transform: translateY(1px);
}

.status {
    font-size: 13px;
    color: #666;
    margin-top: 4px;
}

.output {
    background: #0f172a;
    color: #e5e7eb;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    overflow: auto;
    min-height: 300px;
}